:root {
  --txt-color: #000;
}

body.dark {
  --txt-color: #fff;
}

h2{
  color: var(--txt-color)
}

.bot-selector {
  padding: 20px;
}

.bot-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bot-button {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  background-color: #ccc; /* Fallback color */
  overflow: hidden;
}

.bot-button p {
  margin: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.bot-button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
