h2{
  color: #000;
}

.bot-selector {
  padding: 20px;
}

.bot-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bot-button {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  background-color: #ccc; 
  overflow: hidden;
}

.bot-button p {
  margin: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.bot-button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.backbtn {
  background-color: #6E5A7A;
  color: #fff;
  border: 2px solid #b2b2b2;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}