/*#region Login*/
.login {
    display: flex;
    width: 800px;
    height: 911px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    flex-direction: column;
    background-color: #6E5A7A;
}

.loginTitle{
    color: #FFFFFF;
}

.loginForm {
    padding: 30px;
    max-width: 600px;
    width: 100%;
    display: flex;
    align-content: center;
    text-align: left;
    flex-direction: column;
    margin: 0 auto;
    color: #FFFFFF;
}

.loginForm input {
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    justify-content: center;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.loginbtn {
    width: 30%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #C5C6D0;
    color: #000;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgotpassbtn{
    width: 30%;
    justify-content: center;
    margin: 0 auto;
    background-color: #C5C6D0;
    color: #000;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*#endregion */

/*#region Forgot Password*/
.forgotpassword{
    display: flex;
    width: 800px;
    height: 913px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    flex-direction: column;
    background-color: #6E5A7A;
}

.forgotpasswordForm {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 5%;
    margin-bottom: 30px;
}
/*#endregion */

/*#region Update Password*/
.updatePassword{
    display: flex;
    width: 800px;
    height: 913px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    flex-direction: column;
    background-color: #6E5A7A;
}

.updatePassword input {
    display: flex;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    justify-content: center;
    width: 50%;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 180px;
}

/*#endregion */