:root {
    --body-color: #fff;
    --bg-color: #f5e3d3;
    --card-color: #2e4a94;
    --txt-color: #000;
    --accent: #aad4f5;
}

body.dark {
    --body-color: #000;
    --bg-color: #dc9c63;
    --card-color: #2e4a94;
    --txt-color: #fff;
    --accent: #66b1ed;
}

body {
    background-color: var(--body-color);
    margin: 0;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

.settings-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    height: 770px;
    background-color: var(--bg-color);
}

.settings-container label{
    color:#fff;
}

.settings-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--txt-color);
}

.settings-card {
    background-color: var(--card-color);
    padding: 40px;
    border-radius: 25px;
    width: 300px;
    margin: 0 auto;
}

.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Toggle Switch Styling */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--accent);
}

input:checked+.slider:before {
    transform: translateX(24px);
}

.password-button {
    background-color: var(--accent);
    color: var(--txt-color);
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.twofa-button {
    background-color: var(--accent);
    color: var(--txt-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}