/*
create styling for the following className's
    homeBody
*/

:root {
    --body-color: #fff;
    --bg-color: #f5e3d3;
    --card-color: #2e4a94;
    --text-color: #fff;
    --head-color: #000;
    --btn-color: #000;
    --accent: #aad4f5;
}

body.dark {
    --body-color: #000;
    --bg-color: #dc9c63;
    --card-color: #2e4a94;
    --text-color: #fff;
    --head-color: #fff;
    --accent: #66b1ed;
}

body {
    background-color: var(--body-color);
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.homeBody {
    background-color: var(--bg-color);
    text-align: center;
    padding: 40px 20px;
    min-height: auto;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 2.65%;
}

.homeBody p {
    color: var(--head-color);
    margin: 40px 0;
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.homeBody button {
    background-color: var(--card-color);
    color:#fff;
    border: none;
    padding: 10px 20px;
    margin: 20px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.homeBody button:hover {
    background-color: #1e478a;
}