.text-blue-600{
    padding-inline: 550px;
}

.text-gray-600{
    padding-inline: 590px;
}

.text-purple-700{
    padding-inline: 605px;
}

.BntGroup1{
    padding-inline: 400px;
}

.BtnGroup2{
    padding-inline: 350px; 
}

.text-blue-700{
    padding-inline: 600px;
}

.BtnGroup3{

    padding-inline: 300px;
}
.SignOutBtn{
    margin-inline: 500px;
}

.HeaderAdminDash{
    padding-inline: 550px
}
